<h1>All your Cocktails</h1>

<%= link_to "Add a cocktail", new_cocktail_path %>

<% @cocktails.each do |cocktail| %>
<%= link_to("#{cocktail.name}", "cocktails/#{cocktail.id}")%>
<%= link_to "Remove cocktail", cocktail_path(cocktail), method: :delete %>
<% end %>
